
.info-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #5416b4;
    border-radius: 4px 4px 0 0;
    height: 60px;
    width: 100%;
}

.room-status{
    display: flex;
    flex: 0.5;
    align-items: center; /* Fixes stretched image */
    margin-left: 5%;
    color: #fff;
}

.online-icon{
    margin-right: 5%;
}

.room-exit{
    display: flex;
    flex: 0.5;
    justify-content: flex-end;
    margin-right: 5%;
}

.exit-icon{
}

.exit-icon:hover{
    transition: 0.5s ease-in;
    transform: rotate(360deg);
}

@media (min-width: 320px) and (max-width: 480px) {
    .info-bar{
        border-radius: 0;
    }

}